.w-full {
    width: 100%;
}

/* Responsive */
@media (min-width: 576px) {
    .articles {
        display: block;
    }

    .article {
        background: red;
    }
}

@media (min-width: 768px) {
    .articles {
        display: flex;
        flex-wrap: wrap;
    }

    .article {
        width: 50%;
        background: blue;
    }
}

@media (min-width: 992px) {
    .article {
        background: green;
    }
}