<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./angular.min.js"></script>
</head>

<!-- Directives -->

<body ng-controller="myController">
    <!-- Binding -->
    <h1 ng-greeting></h1>
    <table border>
        <thead>
            <td>STT</td>
            <td>Name</td>
        </thead>
        <tbody>
            <tr ng-repeat="student in students">
                <td>{{$index + 1}}</td>
                <td>{{student}}</td>
            </tr>
        </tbody>
    </table>
    <button ng-click="logging()">Click me</button>

    <script src="./app.js"></script>
</body>

</html>