<ul class="nav">
    <li class="nav-item">
        <a class="nav-link">Phổ biến</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Mới nhất</a>
    </li>
    <li class="nav-item">
        <button class="nav-link" ng-click="orderProduct('original_price')">Giá tăng</button>
    </li>
    <li class="nav-item">
        <a class="nav-link">Giá giảm</a>
    </li>
</ul>
<div class="container mx-auto row">
    <a class="card col-sm-6 col-md-3" ng-repeat="book in data | orderBy:orderType"
        href="/assignment1/#!/product/{{book.id}}">
        <!-- {{book.name}} -->
        <img src="{{book.images[0]}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{book.name | uppercase}}</h5>
            <p class="card-text">{{book.short_description | limitTo:50}}...</p>
            <div class="text-danger">{{book.original_price | number:0}}đ</div>
        </div>
    </a>
</div>