<div class="container mx-auto">
    <h2>Cập nhật sản phẩm</h2>
    <form class="row" ng-submit="submit($event)" name="form">
        <div class="col-8">
            <div>
                <label for="exampleInputEmail1" class="form-label">Tên sản phẩm</label>
                <input type="text" class="form-control" ng-model="product.name" name="name" required>
                <span class="text-danger" ng-show="form.name.$invalid">Trường thông tin bắt buộc</span>
            </div>
            <div>
                <label for="exampleInputEmail1" class="form-label">Giá</label>
                <input type="number" class="form-control" ng-model="product.original_price">
            </div>
            <div>
                <label for="exampleInputEmail1" class="form-label">Mô tả</label>
                <textarea type="text" class="form-control" ng-model="product.short_description"></textarea>
            </div>
        </div>
        <div class="col-4">
            <img class="w-100" src="{{product.images || product.images[0]}}" alt="">
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </form>
</div>